/* ==========================================
   TOP UTILITY BAR
========================================== */

.tl-topbar {
  position: relative;
  background: #076aaa;
  color: #fff;
  font-size: 0.78rem;
}

.tl-topbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  padding: 8px var(--container-px);
  min-height: 44px;
}

/* ==========================================
   CONTACT INFORMATION
========================================== */

.tl-topbar .tl-contacts {
  display: flex;
  align-items: center;
}

@media (min-width: 993px) {
  .tl-topbar .tl-contacts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 100px), -50%);
    width: 640px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
}

.tl-topbar .tl-contacts a {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;

  color: rgba(255, 255, 255, 0.92);
  text-decoration: none;
  white-space: nowrap;

  transition: color 0.25s ease;
}

.tl-topbar .tl-contacts a:hover {
  color: #fff;
}

/* ==========================================
   SOCIAL ICONS
========================================== */

.tl-topbar .tl-social {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(-40px);
  /* Move left */
  margin-left: auto;
}

.tl-topbar .tl-social a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #c42a2f;

  color: rgba(255, 255, 255, 0.85);

  transition: all 0.25s ease;
}

.tl-topbar .tl-social a:hover {
  color: #fff;
  background: #992125;
  transform: translateY(-2px);
}

/* ==========================================
   TABLET & MOBILE
========================================== */

@media (max-width: 1024px) {
  .tl-topbar {
    display: none !important;
  }
}